<section class="my-20 flex flex-col gap-10 container">
  <h3 i18n class="text-white text-3xl text-center">Why Vision Things?</h3>
  <p class="text-center">
    Why choose Vision Things Company to supply, install and operate technical
    equipment in the fields of... Information technology and information in
    general?
  </p>
  <div class="flex flex-wrap justify-center gap-10">
    @for (item of items; track item.id) {
    <div class="section container py-5 service">
      <div class="mb-3 flex gap-3">
        <div>
          <div
            [id]="item.id"
            class="rounded flex justify-center items-center p-2"
          >
            <span class="material-symbols-outlined text-white"> memory </span>
          </div>
        </div>

        <p i18n class="text-white text-xl">{{ item.title }}</p>
      </div>
      <p i18n>{{ item.description }}</p>
    </div>
    }
  </div>
</section>
