@tailwind base;
@tailwind components;
@tailwind utilities;

#price {
  background: linear-gradient(rgb(110, 220, 196), rgb(26, 171, 139));
}
#technical-support {
  background: linear-gradient(rgb(33, 200, 246), rgb(99, 123, 255));
}
#supply {
  background: linear-gradient(rgb(139, 96, 237), rgb(179, 114, 189));
}
#solutions {
  background: linear-gradient(rgb(219, 103, 141), rgb(236, 69, 79));
}
#experience {
  background: linear-gradient(rgb(241, 154, 26), rgb(255, 199, 60));
}

.service {
  width: 300px;
}
.service:hover {
  transform: scale(1.1);
  cursor: pointer;
}
