<section class="my-20 container">
  <h3 i18n class="text-3xl text-white text-center mb-10">Company Values</h3>
  <div class="flex flex-wrap justify-center gap-10">
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        webhook
      </span>
      <p i18n class="text-xl">Continuous Development</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        handshake
      </span>
      <p i18n class="text-xl">Win-Win Situation</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        emoji_objects
      </span>
      <p i18n class="text-xl">Creativity</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        diversity_3
      </span>
      <p i18n class="text-xl">Commitment</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        social_leaderboard
      </span>
      <p i18n class="text-xl">Efficiency</p>
    </div>
  </div>
</section>
