@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  color: #51a29d;
}
input,
textarea {
  border: 2px solid #51a29d;
  color: #51a29d;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
input {
  height: 50px;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  padding-top: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}
