<!-- Header -->
<header class="grid grid-cols-1 md:grid-cols-2">
  <div class="container flex flex-col justify-center">
    <div class="flex flex-col gap-10 container">
      <h1 class="text-3xl text-teal-500" style="white-space: pre-wrap">
        {{ primarySectionContent }}
      </h1>
    </div>
  </div>
  <div class="relative w-full h-full hidden md:block">
    <img [ngSrc]="headerImage" alt="header" fill priority />
  </div>
</header>
<!-- Secondary Section -->
<section class="my-20 container">
  <p class="text-white text-center" style="white-space: pre-wrap">
    {{ secondarySectionContent }}
  </p>
</section>
<!-- Text Section -->
<section class="my-20 container">
  <div class="section container py-10">
    <p style="white-space: pre-wrap">{{ textSectionContent }}</p>
  </div>
</section>
