<section class="py-10 grid grid-cols-1 gap-10 container">
  @for (item of contents; track item.id) { @if (item.media.length > 0 &&
  item.is_header) {
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="flex justify-center items-center">
      <p class="text-teal-500 text-xl whitespace-pre-wrap">
        {{ item.content_en }}
      </p>
    </div>
    <div class="relative img">
      <img [ngSrc]="item.media[0].original_url" alt="image" fill />
    </div>
  </div>
  } @else if (item.media.length > 0 && !item.is_header) {
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 container py-10 section">
    <div>
      <p class="whitespace-pre-wrap">
        {{ item.content_en }}
      </p>
    </div>
    <div class="relative img">
      <img [ngSrc]="item.media[0].original_url" alt="image" fill />
    </div>
  </div>
  } @else {
  <div class="grid grid-cols-1 gap-10 container py-10 section">
    <p class="whitespace-pre-wrap">{{ item.content_en }}</p>
  </div>
  } }

  <!-- Interested -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-20">
    <div>
      <h3 class="text-2xl text-teal-500 mb-5">Are you interested?</h3>
      <p>
        Please fulfill the required data and you will be contacted as soon as
        possible.
      </p>
    </div>

    <!-- Interested Form -->
    <div class="col-span-2 section container py-10">
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="grid grid-cols-1 gap-5"
      >
        <!-- Name -->
        <div class="grid grid-cols-4 gap-5">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="name"
            class="col-span-3"
            placeholder="Enter your name"
          />
        </div>

        <!-- Phone -->
        <div class="grid grid-cols-4 gap-5">
          <label for="phone">Phone Number</label>
          <input
            type="text"
            id="phone"
            name="phone"
            formControlName="phone"
            class="col-span-3"
            placeholder="Your phone number"
          />
        </div>

        <!-- Email -->
        <div class="grid grid-cols-4 gap-5">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            formControlName="email"
            class="col-span-3"
            placeholder="Enter your email"
          />
        </div>

        <!-- Interested -->
        <div class="hidden">
          <input
            type="text"
            id="interested"
            name="interested"
            formControlName="interested"
          />
        </div>

        <!-- Message -->
        <div class="grid grid-cols-4 gap-5">
          <label for="message">Message</label>
          <textarea
            rows="3"
            type="text"
            id="message"
            name="message"
            formControlName="message"
            class="col-span-3"
            placeholder="Leave your message here..."
          ></textarea>
        </div>

        <!-- Submit -->
        <div class="grid grid-cols-4">
          <div></div>
          <button type="submit" [disabled]="form.invalid" class="col-span-3">
            Submit
          </button>
        </div>
        <div class="grid grid-cols-4">
          <div></div>
          <div class="col-span-3">
            @if (successMessage) {
            <app-success-message
              [message]="successMessage"
            ></app-success-message>
            } @if (errorMessage) {
            <app-error-message [message]="errorMessage"></app-error-message>
            }
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
