<section class="container mt-20">
  <div class="section grid grid-cols-1 md:grid-cols-2">
    <div class="relative w-full h-full">
      <img ngSrc="assets/images/home_camera.png" alt="Camera" fill />
    </div>
    <div class="flex flex-col gap-10 py-10">
      <h3 i18n class="text-white text-3xl">Cameras Maintainance Contract</h3>
      <p i18n>
        Object Vision Company connects and extends security camera networks as
        it enables you From contracting electronically for installation and
        extension and booking an appointment for a quick inspection.
      </p>
      <div>
        <a href="https://vt.com.sa"><button i18n>Contract Now</button></a>
      </div>
    </div>
  </div>
</section>
