@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background-image: url("../../assets/images/navbar.png");
  background-size: cover;
  height: 75px;
}

.navlink {
  cursor: pointer;
}

#navbar-menu {
  background-color: #010e28;
}

.active {
  color: #51a29d;
}

// Navbar button
#nav-button {
  padding: 5px 15px !important;
  color: #51a29d !important;
  position: relative !important;
  z-index: 1 !important;
  cursor: pointer;
}
#nav-button::before {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  height: 30px !important;
  width: 30px !important;
  border-left: 2px solid #51a29d !important;
  border-top: 2px solid #51a29d !important;
  content: "" !important;
  z-index: -1 !important;
  transition: all, 0.7s !important;
}
#nav-button::after {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 30px !important;
  width: 30px !important;
  border-right: 2px solid #51a29d !important;
  border-bottom: 2px solid #51a29d !important;
  content: "" !important;
  z-index: -1 !important;
  transition: all, 0.7s !important;
}
#nav-button:hover::before,
#nav-button:hover::after {
  height: 100% !important;
  width: 100% !important;
  transition: all, 0.7s !important;
}

li:hover {
  color: #51a29d;
}

::ng-deep .nav-categories {
  background: #010e28 !important;
  border: 2px solid #51a29d;
  border-radius: 5px;
}

::ng-deep .nav-category {
  font-family: "Cairo", sans-serif !important;
}
