<footer class="container py-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
    <!-- Main with social media -->
    <div class="flex flex-col gap-5">
      <img
        ngSrc="assets/images/logo.png"
        alt="Logo"
        width="70"
        height="70"
        priority
      />
      <p i18n>
        If you would like to get the service of Vision Things, you can contact
        us Or through our social media
      </p>
      <div class="flex gap-2">
        @for (item of socialMedia; track item.id) {
        <a [href]="item.url" target="_blank">
          <img
            [ngSrc]="item.iconURL"
            [alt]="item.title"
            width="30"
            height="30"
          />
        </a>
        }
      </div>
    </div>

    <!-- Quick links -->
    <div>
      <h4 class="text-white text-xl mb-5" i18n>Quick Links</h4>
      <div class="flex flex-col gap-5">
        @for (link of quicklinks; track link.id) {
        <a [routerLink]="link.route">
          <p i18n>{{ link.title }}</p>
        </a>
        }
        <a href="https://ccm.vision-things.com">
          <p i18n>Cameras Contract</p>
        </a>
      </div>
    </div>

    <!-- Terms & Conditions -->
    <div>
      <h4 class="text-white text-xl mb-5" i18n>Terms & Conditions</h4>
      <div class="flex flex-col gap-5">
        @for (term of terms; track term.id) {
        <a [routerLink]="term.route">
          <p i18n>{{ term.title }}</p>
        </a>
        }
      </div>
    </div>

    <!-- Have a question -->
    <div>
      <h4 i18n class="text-white text-xl mb-5">Do you have a question?</h4>
      <div class="flex flex-col gap-5">
        <div class="flex gap-3">
          <span class="material-symbols-outlined text-white">
            location_searching
          </span>
          <p i18n>The Kingdom of Saudi Arabia - Jeddah - Al-Zahraa District</p>
        </div>
        <div class="flex gap-3">
          <span class="material-symbols-outlined text-white"> call </span>
          <p>00966581077506</p>
        </div>
        <div class="flex gap-3">
          <span class="material-symbols-outlined text-white"> mail </span>
          <p>info&#64;vision-things.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-10 mt-10" style="border-top: 2px solid #51a29d">
    <p class="text-center" i18n>Vision Things © 2023 All Rights Reserved</p>
  </div>
</footer>
