<section class="mt-20 container">
  <div class="section py-10 grid grid-cols-1 md:grid-cols-2">
    <div class="container flex flex-col gap-10">
      <h3 i18n class="text-white text-3xl">Our Vision & Mission</h3>
      <p i18n>
        Providing a vision for the future of technology in the Kingdom of Saudi
        Arabia. Provide the latest Scientific and technical solutions to help
        our customers in their business and support the Kingdom’s economy By
        providing the latest technologies and solutions.
      </p>
      <div>
        <a routerLink="/contact-us"
          ><button class="main-button" i18n>Contact Us</button></a
        >
      </div>
    </div>
    <div class="relative w-full h-full">
      <img ngSrc="assets/images/about_eye.png" alt="Eye" fill />
    </div>
  </div>
</section>
