<section class="container mt-20">
  <div class="section grid grid-cols-1 md:grid-cols-2">
    <div class="py-10 container flex flex-col gap-10">
      <h3 class="text-3xl text-white" i18n>About Vision Things</h3>
      <p i18n>
        Vision Things is a Saudi company specialized in providing the best
        security solutions. we've got A team of experienced and certified
        technicians who can install and maintain the system Your security
        professionally and efficiently. In seeing things we believe there is no
        security A luxury, even a necessity. That's why we offer a wide range of
        products and services that Fits your specific needs and budget. Whether
        you need a simple surveillance camera Or a complex security system, we
        have the right solution for you.
      </p>
      <div>
        <a routerLink="/about-us"><button i18n>Know More</button></a>
      </div>
    </div>
    <div class="relative w-full h-full hidden md:flex">
      <img
        ngSrc="assets/images/home_world.svg"
        alt="Hands around the world"
        fill
      />
    </div>
  </div>
</section>
